extends ../layout/index
block contenido
     main.container.mt-5
          .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
               .col-md-7
                    h1 #{pagina}
                    blockquote Morbi porttitor tempus enim, laoreet tincidunt magna porttitor vel. Vivamus hendrerit urna eu dolor condimentum placerat. Integer nec scelerisque odio. Cras arcu arcu, dapibus sed nulla tincidunt, consectetur sollicitudin mauris.
                    p Integer egestas pulvinar ultrices. Curabitur sapien ante, ullamcorper nec nunc sit amet, pulvinar mollis purus. Curabitur efficitur, elit ut luctus convallis, risus risus tincidunt arcu, eu dapibus dolor dolor vel nisi. Curabitur lorem ligula, tincidunt ac sodales eu, ultricies nec ex. Suspendisse varius tincidunt libero ut pharetra. Phasellus ligula tellus, ultricies eu orci quis, pretium varius lorem. Donec nec eleifend elit. Ut ullamcorper egestas dignissim. Donec nec eleifend elit. Ut ullamcorper egestas dignissim. 
                    p Proin porttitor interdum ipsum eu dictum. Vivamus elementum convallis felis, eu imperdiet lectus maximus vehicula.
     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Proin porttitor interdum ipsum eu dictum. Vivamus elementum convallis felis, eu imperdiet lectus maximus vehicula.
                    .col-md-4
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejores Destinos
                         p Proin porttitor interdum ipsum eu dictum. Vivamus elementum convallis felis, eu imperdiet lectus maximus vehicula.
                    .col-md-4
                         img(src="img/icono_precios.svg", class="img-fluid mb-4")
                         h2.mb-4 Mejor Precio
                         p Proin porttitor interdum ipsum eu dictum. Vivamus elementum convallis felis, eu imperdiet lectus maximus vehicula.
     
     